#insp{
    text-align: center;
    padding:20px;
    margin:10px;
    font-family:Hepta Slab;
}
.qute{
    background-color:white;
    margin:2px;
    border: 1px;
    border-bottom-color:black;
}
.qute li{
    text-decoration: none;
    list-style-type: none;
    font-family:Hepta Slab;
    /* font-size: 15px; */

}
#d{
    /* text-align: center; */
    padding:20px;
    margin:10px;
    font-family:Hepta Slab;
}