
<div class="container-fluid">
    <h1>Inspiration Quotes</h1>
   <div class="row">
    <div class="col-md-6">      
        <div *ngFor='let quote of quotes ;let i= index'>
                <li> {{quote.quote}} Created on  {{quote.voteDate|date|uppercase}}</li> 
            <div>
                <p>{{ quote.quote }} </p>
                <button (click)='toggleDetails(i)'>Toggle Details</button>
                <div><app-vote></app-vote></div>
            </div>
           <div *ngIf='quote.showAuthor'>
            <app-quote-details  [quote]='quote' ></app-quote-details>
           </div>
        </div>
    </div>
    <div class="col-md-6">
      <app-form-quote (addQuote)="addNewQuote($event)"></app-form-quote>
    </div>
</div>
</div>
  
