
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">   
            <h1 id="insp">Inspiration Quotes</h1>    
            <div id="butto" class="qute"*ngFor='let quote of quotes ;let i= index'>
            <li appHighlight > {{quote.quote}} Created on  {{quote.voteDate|date|uppercase}}</li> 
                <div >
                    <button (click)='toggleDetails(i)'class="btn btn-primary" id="but">Toggle Quote Details</button>
                    <div><app-vote></app-vote></div>
                </div>
                <div *ngIf='quote.showAuthor'>
                    <app-quote-details  (isVote) = 'deleteQuote($event,i)'[quote]='quote' ></app-quote-details>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <app-form-quote (addQuote)="addNewQuote($event)" id="d"></app-form-quote>
        </div>
    </div>
</div>
